---
title: "MS Haul Ticket Verification | Trimble Help"
source_url: "https://help.trimble.com/en/vista/vista/reports-catalog/material-sales-reports/material-sales-general-reports/ms-haul-ticket-verification"
fetched_at: "2026-03-25T16:24:33.094126+00:00"
menu_path: "/en/vista/vista/reports-catalog/material-sales-reports/material-sales-general-reports/ms-haul-ticket-verification"
---

# MS Haul Ticket Verification

You can use the MS Haul Ticket Verification report to show
 MS Ticket detail by either the Outside Haul Vendor or the Equipment assigned on the ticket
 by selecting Material Sales > Reports > MS Haul Ticket Verification.
This report shows MS Ticket detail by either the Outside Haul Vendor or the Equipment assigned on the ticket. The report may be run for a range of MS Ticket Sale dates. An additional option will restrict based on whether the tickets have been verified, not verified, or blank will return all tickets whether verified or not.
Report Parameters
Description
Company
Accept the default, or press F4 to select a company.

Beginning Ticket Date
Enter beginning ticket date or leave blank for all.

Ending Ticket Date
Enter ending ticket date or leave blank for all.

(H)aul Vendor or (E)quipment
Enter H or E.

Beginning Haul Vendor
Click the Field Lookup
 button or press F4 to select the beginning haul vendor or leave
 blank for all.

Ending Haul Vendor
Click the Field Lookup
 button or press F4 to select the beginning haul vendor or leave
 blank for all.

EM Company (Blank for All)
Click the Field Lookup
 button or press F4 to select the EM company or leave blank for
 all.

Beginning Equipment
Select the Field Lookup button or press F4 to select beginning equipment code or leave blank to select all equipment.

Ending Equipment
Select the Field Lookup button or press F4 to select ending equipment code or leave blank to select all equipment.

Print Tickets that are: (V)erified, (N)ot Verified (Blank for All)
Enter V, N or leave blank for all.
