TRIMBLE_APP_NAME=
TRIMBLE_CLIENT_ID=
TRIMBLE_CLIENT_SECRET=
TRIMBLE_ACCESS_TOKEN=
TRIMBLE_SCOPE=openid kb kb-ingest agents profile
TRIMBLE_TOKEN_URL=https://stage.id.trimblecloud.com/oauth/token
TRIMBLE_AUTHORIZE_URL=https://stage.id.trimblecloud.com/oauth/authorize
TRIMBLE_INGEST_URL=https://ingest.stage.trimble-ai.com
TRIMBLE_KNOWLEDGE_URL=https://kb.stage.trimble-ai.com
TRIMBLE_AGENT_URL=https://agents.stage.trimble-ai.com
TRIMBLE_KNOWLEDGE_LIBRARY_ID=