---
title: "About AP Verification | Trimble Help"
source_url: "https://help.trimble.com/en/vista/vista/accounting/accounts-payable/vendors/vendor-compliance-tracking/about-ap-verification"
fetched_at: "2026-03-25T16:24:33.094126+00:00"
menu_path: "/en/vista/vista/accounting/accounts-payable/vendors/vendor-compliance-tracking/about-ap-verification"
---

# About AP Verification

An overview of how the system handles non-compliant situations.

Verification, warnings, and prevention of payments for non-compliance are based on the setup options in the AP Company Parameters form. Various programs use this verification:

- SL Worksheet form — If a contract includes codes that are not in compliance, the form displays "Out of Compliance" in the upper right corner when the items tab is accessed in SL Worksheet. You might decide to put a hold code on the invoice if it is not in compliance.

- AP Transaction Entry form — If you selected the Check Vendor compliance on trans entry, warn only checkbox, then a warning appears at the time of invoice entry. You might decide to assign a hold code to the invoice.

- AP Payments Posting form — If you have selected the option to exclude invoices that are out of compliance, the system, does not add them to the Payments batch.

-  AP Payment Review With Compliance Report — If you allow invoices to be added to the payments batch, then a warning appears stating that the invoice is out of compliance. You may then decide to either delete it from the payments batch or print it. You may opt to hold the check until the paperwork is received.

When you are alerted to a noncompliance situation, how you proceed is your decision. You can decide whether to pay or hold the sub's check, write a two-party check, or take any other appropriate action.
For more information about vendor compliance, see [Vendor Compliance Tracking](/en/vista/vista/accounting/accounts-payable/vendors/vendor-compliance-tracking).
