---
title: "PC Pre-Qualification Report | Trimble Help"
source_url: "https://help.trimble.com/en/vista/vista/reports-catalog/preconstruction-reports/pc-pre-qualification-report"
fetched_at: "2026-03-25T16:24:33.094126+00:00"
menu_path: "/en/vista/vista/reports-catalog/preconstruction-reports/pc-pre-qualification-report"
---

# PC Pre-Qualification Report

You can use the PC Pre-Qualification Report report to
generate a form for data collection or show results from the data collection. To access this report, select Pre-Construction > Reports > PC Pre-Qualification Report.
You can print this report to use a form for the subcontractor to fill out with information regarding business aspects including general information, headcount, technology, safety, OSHA, quality, projects, insurance, liability, financial, CPA, bonding, ownership, contacts, states, scope, regions, project types, unions, references, legal, and a signature page. Printing the report shows all data entered into the PC Pre-Qualification Info form.
Report Parameters
Description

AP Company
Click the Field Lookup
 button or press F4 to select the AP company.

Vendor
Click the Field Lookup
 button or press F4 to select the vendor. (Required if (R)eport
 option is selected. Leave blank if (B)lank form option is
 selected.)

(R)eport or (B)lank Form
Enter R or B (required).
